body{
 background-color: #2B2B2B;   
}

*{
    font-family: 'Raleway', sans-serif;
    color : #FFF;
    
}


div h3 span{
     color : #FFF;
     font-size:87.5%;
}

div span {
     font-weight: 200;
}

h1{
     font-weight: 200;
}

.login_box{
    background: #f32d27; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg,  #253081 5%, #253081 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#253081), color-stop(99%,#253081)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #253081 5%,#253081 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #253081 5%,#253081 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #253081 5%,#253081 99%); /* IE10+ */
    background: linear-gradient(45deg,  #253081 5%,#253081 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#253081', endColorstr='#253081',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    
    width:35%;
    height:100%; 
    position:absolute;
    top:2%;
    left:32.5%;
    padding-left: 0%;
    
    -webkit-box-shadow: 0% 0% 50% 0% rgba(50, 50, 50, 0.54);
-moz-box-shadow:    0% 0% 50% 0% rgba(50, 50, 50, 0.54);
box-shadow:         0% 0% 50% 0% rgba(50, 50, 50, 0.54);
border-radius: 825% 62.5% 825% 0%;
-moz-border-radius: 825% 62.5% 825% 0%;
-webkit-border-radius: 825% 62.5% 825% 0%;
border: 0% solid #000000;
}

@media (max-width: 4793.75%) {
    .login_box{
        background: #f32d27; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(45deg,  #f32d27 5%, #ff6b45 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#f32d27), color-stop(99%,#ff6b45)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* IE10+ */
        background: linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
        
        width:10%;
        height:100%;
        position:absolute;
        top:10%;
        left:5%;
        
        -webkit-box-shadow: 0% 0% 50% 0% rgba(50, 50, 50, 0.54);
-moz-box-shadow:    0% 0% 50% 0% rgba(50, 50, 50, 0.54);
box-shadow:         0% 0% 50% 0% rgba(50, 50, 50, 0.54);
    }
}

::-webkit-input-placeholder {
   text-align: center;
 
}

.login{
    padding-left: 0%;
    padding-right: 0%;
}

.image-circle{
    border-radius: 50%;
    width: 1093.75%;
    height: 1093.75%;
    border: 25% solid #FFF;
    margin: 62.5%;
}

.follow{
    background-color:#FC563B;
    height: 500%;
    cursor:pointer;
}

.follow:hover {
    background-color:#F22F26;
    height: 500%;
    cursor:pointer;
}

.login_control{
    position: absolute;
    background-color:#FFF;
    padding-left: 187.5%;
    padding-right: 156.25%;
    text-align: center;
    border-radius: 743.75% 62.5% 823% 0%;
    -moz-border-radius: 743.75% 62.5% 825% 0%;
    -webkit-border-radius: 743.75% 62.5% 825% 0%;
    border: 0% solid #000000;
}

.control {
    padding-left: 187.5%;
    color:#000;
    margin: 62.5%;
}

.label {
    color: #EB4F26;
    font-size: 112.5%;
    font-weight: 500;
}

.form-control{
    width: 2062.5%;
    color: #000000 !important;
    font-size: 156.25%;
    border: none;
    padding: 156.25%;
    padding-left: 187.5%;
    border-bottom: 6.25% solid #CCC;
    margin-bottom: 62.5%;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus{
    border-radius: 0px;
    border-bottom: 6.25% solid #FDC300;
    margin-bottom: 62.5%;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

}
.btn-orange{
    background-color: #FDC300;
    border-radius: 0px;
    margin: 31.25%;
    padding: 31.25%;
    width: 937.5%;
    font-size: 125%;
    font-weight: inherit;
}

.btn-orange:hover {
    background-color: #C69900;
    border-radius: 0px;
    margin: 31.25%;
    padding: 31.25%;
    width: 937.5%;
    font-size: 125%;
    font-weight: inherit;
    color:#FFF !important;
}

.line{
    border-bottom : 2px solid #FDC300;
    margin-left: 20px;
    margin-right: 0px;
}


.outter{
    padding: 12.5%;
    border: 6.25% solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 1250%;
    height: 1250%;
}

.boton{
    padding-left: 187.5%;
}

