.container{
	width: 100%
}

.ll{
	height: 100%;
}

.menu{
	background: #253081;
	font-family: 'Raleway', sans-serif;
}

a{
	color: white;
}

a:hover{
	color: white;
	text-decoration: none;
}

.item{
	display: inline-block;
}

.item:hover{
	background: #252d67;
	margin: auto;
}