body{
    background-color: #2B2B2B;  
    margin-left: 50%; 
    margin-top: 15%;
    font-family: 'Raleway', sans-serif;

}

body span{
    margin-left: 2%;
    margin-bottom: 20%;
    color: white;
    font-size: 20;
}
#sidebar-wrapper {
    top: 0%;
    left: 0%;
    width: 14.8%;
    background-color: #253081;
    color: white;
    position: absolute;
    height: 100%;
    z-index: 1;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 6%;
    line-height: 300%;
}
.sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(255,255,255,0.25);
    color: white;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -15%;
}
@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0.5s;
        left: 200px;
    }
    .image-circle{
        border-radius: 50%;
        width: 95%;
        height: 95%;
        border: 1px solid #FFF;
        margin: 2%;
    }
    .outter{
        padding: 0%;
        border: 1px solid rgba(255, 255, 255, 0.29);
        border-radius: 50%;
        width: 30%;
        height: 40%;
    }