body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-image: url('../images/body-bg.jpg');
}

#content {
	margin: 0 auto;
	background-color:#FFF;
}

.navigation{
	padding-top:8px;
	padding-left:8px;
	padding-right:7px;
}

.font-white { color:#FFF; }

#top-background{
  height:42px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
}

#footer {
	background: url('../images/footerbg.png') repeat-x;
	height:66px;
	font-family:Arial;
	color:#FFF;
}

#footer .footerstyle {
    font-size: 12px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
    text-transform: uppercase;
	color: #737474;
    line-height: 17px;
}

/* Begin Where */

.where_middle {
	background: url('../images/bom.jpg') repeat-x;
}

.where_right {
	background: url('../images/bomr.jpg') no-repeat top right;
	border-right: #FFFFFF 1px solid;
}

.where_left {
	background: url('../images/bo.jpg') no-repeat top left;
	height: 25px;
	line-height: 26px;
	padding-left: 30px;
	font-size: 12px;
}

/* End Where */

.square {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFF;
    border-color: #CCC;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px 1px 1px;
	padding: 5px;
}